.about {
    width: 100%;
    background-color:rgb(214, 236, 251);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

// .career {
//     width: 100%;
//     height: 400px;
//     background-color: rgb(166, 217, 250);
//     border-radius: 10px;
//     margin-top: 20px;
// }

.form {
    margin: 0 auto;
}

.title {
    color: rgb(15, 15, 15);
    font-weight: 700;
    margin-left: 30px;
}

.large-radio {
    transform: scale(1.5);
    margin-right: 5px;
}

@media (max-width: 768px) {
    .form {
        padding: 0 15px;
    }
}
